<div>
  <input type="email"
          id="email"
          [(ngModel)]="email"
          required
          autofocus>
</div>

<div>
  <input type="password"
  id="password"
  [(ngModel)]="password"
  required>
</div>

<button class="btn" (click)="login()">Login</button>

<p *ngIf="p$ | async"></p>
