<div class="content container-fluid">

  <div class="row justify-content-center">
    <div class="col-10 col-md-6 d-flex flex-column align-items-center">

      <img class="logo-icon mb-4"
           src="/assets/img/svg/logo.svg"
           width="186" height="50" alt="">

      <app-drs-sign-in></app-drs-sign-in>
    </div>
  </div>
</div>

