:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  .prevent-autofill {
    display: none;
  }

  .content {
    width: 100%;
    min-width: 300px;
    max-width: 700px;
    margin-bottom: 100px;
  }

  drs-sign-in {
    width: 100%;
  }
}
