<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#">Dashboard</a>
</nav>

<app-sign-in></app-sign-in>

<div class='container'>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Groups</h5>

      <ul class="list-group list-group-flush" *ngIf="(groups$ | async) as groups">
        <li class="list-group-item">{{groups.name}}</li>
      </ul>
    </div>
  </div>
</div>

<div class='container'>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Current User</h5>

      <ul class="list-group list-group-flush" *ngIf="(currentUser$ | async) as currentUser">
        <li class="list-group-item">{{currentUser.username}}</li>
      </ul>

      <div class="card-body">
        <button type="button" (click)="getProjects()">Get projects</button>
      </div>
    </div>
  </div>
</div>

<div class='container'>
  <div class="card" style="width: 18rem;">
    <div class="card-body" *ngIf="(projects$ | async) as projects">
      <h5 class="card-title">Projects</h5>

      <ul class="list-group list-group-flush" *ngFor="let p of projects">
        <li class="list-group-item">{{p.name}}</li>
        <button type="button" (click)="getBranches(p.id)">Get branches</button>
      </ul>
    </div>
  </div>
</div>

<div class='container'>
  <div class="card" style="width: 18rem;">
    <div class="card-body" *ngIf="(branches$ | async) as branches">
      <h5 class="card-title">Branches</h5>

      <ul class="list-group list-group-flush" *ngFor="let b of branches">
        <li class="list-group-item">{{b.name}}</li>
        <button type="button" (click)="getEnvironments()">Get Env</button>
      </ul>
    </div>
  </div>
</div>

<div class='container'>
  <div class="card" style="width: 18rem;">
    <div class="card-body" *ngIf="(environments$ | async) as environments">
      <h5 class="card-title">Environments</h5>

      <ul class="list-group list-group-flush" *ngFor="let e of environments">
        <li class="list-group-item">{{e.name}}</li>
      </ul>
    </div>
  </div>
</div>

<!-- <div *ngIf="(userProjects$ | async) as projects">
  <div *ngFor="let p of projects">
    <p>{{p.id}}: {{p.name}}</p>
    <button type="button" (click)="getBranches(p.id)">Get branches</button>
  </div>
</div> -->
